body{
    font-family: 'Kaisei HarunoUmi', serif;
}
.quiz{
    border: solid 3px #be0000;
    margin: 50px;
    padding-bottom: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px #979797;
}
.quiz-title{
    text-align: center;
    margin-top: 250px;
    /* font-size: 600%; */
    /* text-shadow: 13px 6px 3px #c9c7c7; */
}

.start-button{
    text-align: center;
}
.str-btn{
    font-size: 50px;
    font-family: 'Kaisei HarunoUmi', serif;
    padding: 10px 20px;
    border: none;
    outline: none;
    /* background: transparent; */
    border-radius:13px;
    box-shadow: 5px 6px 3px #cccbcb;
    color: #000000;
    background-color: #c2c2c2;
    border-bottom: 7px solid #494949;
}
.str-btn:hover{
    margin-top: 3px;
    color: #ff0000;
    background: #c2c2c2;
    border-bottom: 2px solid #494949;
    /* cursor: url(hand.cur), pointer; */
    margin-bottom: 2px;
}


.quizimg2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 0px;
}
.quizimg{
    width: auto;
    height: 50%;
}

.form{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    /* margin-bottom: 250px; */
}
.ans{
    width: 50%;
    max-width: 500px;
    height: 70px;
    font-size: 30px;
}
.ans-button{
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 20px;
    height: 70px;
    margin-left: 10px;
    font-weight: bold;
}

.quiz2{
    border: solid 3px #be0000;
    margin: 50px;
    padding-bottom: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px #979797;
}


